<a href="https://colab.research.google.com/github/svkarthik86/Meachine_Learning/blob/main/ML_Algorithm_Guide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
ML- Supervised Learning 
1.classification
2.Regression


Problems: predict Bike rentals count  - target is contnious  - Regression
problem : predict cancer or not - categorical -   Classification 
-------------------------------------------------------------
step2:
read data into pandas dataframe 
look for source data
check train_test_split   if not given 

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(feature_X,target_y)

In [55]:
import pandas as pd
import numpy as np

In [56]:
file='https://raw.githubusercontent.com/Edubridge-karthik/EXL-CHENNAI---8410-and-PUNE-8414-DA--Batch/main/EXL-CHENNAI%20and%20PUNE-%20DA/Machine%20Learning%20algorithm/FuelConsumptionCo2.csv'
co2=pd.read_csv(file)
co2.head()

,Unnamed: 0,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [3]:
co2.corr()

,Unnamed: 0,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
Unnamed: 0,1.000000,NaN,-0.154145,-0.197897,-0.230103,-0.154857,-0.204676,0.210125,-0.179131
MODELYEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENGINESIZE,-0.154145,NaN,1.000000,0.934011,0.832225,0.778746,0.819482,-0.808554,0.874154
CYLINDERS,-0.197897,NaN,0.934011,1.000000,0.796473,0.724594,0.776788,-0.770430,0.849685
FUELCONSUMPTION_CITY,-0.230103,NaN,0.832225,0.796473,1.000000,0.965718,0.995542,-0.935613,0.898039
FUELCONSUMPTION_HWY,-0.154857,NaN,0.778746,0.724594,0.965718,1.000000,0.985804,-0.893809,0.861748
FUELCONSUMPTION_COMB,-0.204676,NaN,0.819482,0.776788,0.995542,0.985804,1.000000,-0.927965,0.892129
FUELCONSUMPTION_COMB_MPG,0.210125,NaN,-0.808554,-0.770430,-0.935613,-0.893809,-0.927965,1.000000,-0.906394
CO2EMISSIONS,-0.179131,NaN,0.874154,0.849685,0.898039,0.861748,0.892129,-0.906394,1.000000

In [5]:
print(co2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1067 non-null   int64
 1   MODELYEAR                 1067 non-null   int64
 2   MAKE                      1067 non-null   object
 3   MODEL                     1067 non-null   object
 4   VEHICLECLASS              1067 non-null   object
 5   ENGINESIZE                1067 non-null   float64
 6   CYLINDERS                 1067 non-null   int64
 7   TRANSMISSION              1067 non-null   object
 8   FUELTYPE                  1067 non-null   object
 9   FUELCONSUMPTION_CITY      1067 non-null   float64
 10  FUELCONSUMPTION_HWY       1067 non-null   float64
 11  FUELCONSUMPTION_COMB      1067 non-null   float64
 12  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 13  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(5), object(5)
memory usage: 116.8+ KB
None

In [57]:
co2_data=co2[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB','CO2EMISSIONS']]
co2_data.head()

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
0         2.0          4                   8.5           196
1         2.4          4                   9.6           221
2         1.5          4                   5.9           136
3         3.5          6                  11.1           255
4         3.5          6                  10.6           244

In [ ]:
# identify X and Y

In [58]:
X=co2_data[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB']]
y=co2_data[['CO2EMISSIONS']]

In [59]:
# Random split of Train and Test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=123)

In [ ]:
#model Building  _ Regression

In [60]:
from sklearn.linear_model import LinearRegression
Linear_model=LinearRegression().fit(X_train,y_train)

In [ ]:
# Model Evaluation  # test

In [61]:
Linear_model.score(X_test,y_test) # r2 value

0.8315457350870866

In [ ]:
# Regression Model Metrics
‘mean_absolute_error’	sklearn.metrics.mean_absolute_error
‘mean_squared_error’	sklearn.metrics.mean_squared_error
‘r2’	sklearn.metrics.r2_score

In [62]:
y_pred=Linear_model.predict(X_test)

In [63]:
#mean_absolute_error
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

17.59853167720141

In [64]:
#mean_squared_error
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

616.1730541616779

In [65]:
#r2_score
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8315457350870866

In [72]:
result_df=pd.DataFrame({"Y_test":y_test.values.ravel(),"y_predict":y_pred.ravel()})

In [75]:
# write result to output.csv
result_df.to_csv("output.csv")

In [ ]:
# Classification Algorithm

In [ ]:
# LogisticRegression

In [77]:
!pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.9/15.9 MB 49.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pydataset) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=b7753f824e1f647f8f02f848ad06f8a344f0dc057c0c2d63bfadddf1939346f9
  Stored in directory: /root/.cache/pip/wheels/d7/e5/36/85d319586b4a405d001029d489102f526ce5546248c295932a
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [78]:
from pydataset import data

initiated datasets repo at: /root/.pydataset/

In [80]:
iris=data('iris')

In [81]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [82]:
iris.Species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [85]:
 iris["target"] =  iris.Species.map({'setosa':0, 'versicolor':1, 'virginica':2})

In [86]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  target
1           5.1          3.5           1.4          0.2  setosa       0
2           4.9          3.0           1.4          0.2  setosa       0
3           4.7          3.2           1.3          0.2  setosa       0
4           4.6          3.1           1.5          0.2  setosa       0
5           5.0          3.6           1.4          0.2  setosa       0

In [90]:
X=iris[['Sepal.Length',	'Sepal.Width','Petal.Length','Petal.Width']]
y=iris['target']

In [103]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=123)

In [104]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit on training set only.
scaler.fit(X_train)

# Apply transform to both the training set and the test set.
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [105]:
#bulid the Model
from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression().fit(X_train,y_train)

In [107]:
log_model.score(X_test,y_test)

0.9736842105263158

In [109]:
log_model.predict(X_test)

array([1, 2, 2, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 1,
       0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 1, 1, 2, 0])

array([1, 2, 2, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 0, 1, 0, 0, 1,
       0, 2, 0, 0, 0, 2, 2, 0, 2, 2, 0, 0, 1, 1, 2, 0])